<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%=
        case name
        when :notice
          "success"
        when :alert
          "danger"
        when :warning
          "alert"
        when :info
          "info"
        end
        %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>